* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
}

nav>ul {
  margin: 0 auto;
  width: 50%;
}

nav>ul>li {
  display: block;
  padding: 14px 16px;
  float: left;
  margin-left: 50px;
}

nav>ul>li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

nav>ul>li a:hover {
  background-color: #808080;
}

article#start {
  padding: 3em 0 0 0;
  background-color: #0da2d6;
  height: 31.5em;
}

article#start>header {
  text-align: center;
}

article#start>header>h1 {
  color: white;
  margin-top: 40px;
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
  padding-top: 0.2em;
}

article#start>header>h2 {
  margin-top: 0.2em;
  text-align: center;
  color: white;
}

article#start>header>img {
  padding: 2em;
  height: 10em;
}

article#start>header>p {
  font-size: 1.2em;
  padding-top: 1em;
  text-align: center;
  color: white;
}

article#start>footer {
  margin: 0 auto;
  max-width: 50%;
  color: #fff;
  line-height: 2em;
}

article#start>footer .trener, article#start>footer .col2 {
  width: 50%;
}

article#start>footer .trener {
  float: left;
  text-align: right;
  padding: 1em 1em 0 0;
}

article#start>footer .twitter {
  padding: 1em 0 0 0;
}

article#start>footer .twitter img {
  float: left;
  height: 2em;
  padding-right: 1em;
}

article#start>footer>img {
  height: 3em;
}

article#benefits {
  background-color: #6dcff6;
  min-height: 25em;
}

article#benefits section.content {
  position: relative;
  padding: 1em 0;
  margin: 0 auto;
  width: 70%;
}

article#benefits section.content img {
  position: absolute;
  top: 0;
  right: 0;
  height: 15em;
  padding: 7em 14em 0 0;
}

article#benefits h3 {
  text-shadow: 2px 2px grey;
  text-transform: uppercase;
  color: white;
  text-align: justify;
  font-size: 1.5em;
  padding: 2em 0 0 9em;
}

article#benefits ul {
  margin: 3em 0 0 4em;
  line-height: 2.6em;
  padding-left: 12em;
}

article#benefits ul>li {
  color: #fff;
}

article#about {
  clear: both;
  background-color: #fff;
}

article#about .content {
  position: relative;
  margin: 0 auto;
  width: 70%;
  min-height: 30em;
  background-color: #fff;
}

article#about .content img.background {
  position: absolute;
  bottom: 0;
  left: 10em;
}

article#about h3 {
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: justify;
  margin: 0 0 0 47%;
  padding: 3em 0 0 0;

}

article#about>section.content>ul {
  margin: 0 0 0 50%;
  padding: 3em 0 0 0;
}

article#about ul>li {
  text-align: justify;
  line-height: 2em;
  margin: 1em 0 0 0;
  font-size: 0.9em;
}

article#about p {
  text-align: justify;
  font-size: 0.9em;
  margin: 0 0 0 47%;
  padding: 2em 0 1em 0;
}

hr {
  height: 1px;
  background-color: rgb(220, 220, 220);
}

article#create {
  background-color: #fff;
  min-height: 30em;
}

article#create .content{
  position: relative;
  margin: 0 auto;
  width: 70%;
  min-height: 25em;
  background-color: #fff;
}

article#create h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: center;
  padding-top: 135px;

}

article#create section.app1>h4 {
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 31px;
  font-size: 18px;
}

div#apps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 101px;
  padding-bottom: 106px;
}

section.app>ul>li{
  padding: 8px 0;
}

article#create section.app3>h4 {
  text-align: center;
  padding: 1em 0;
}

section.app1 {
  position: absolute;
  border-color: #DCDCDC;
  border-style: solid;
  border-radius: 4px;
  font-size: 0.8em;
  margin: 3em 0 0 20%;
  padding: 1.5em;
  width: 260px;
  height: 19em;
  font-size: 15px;
}

section.app > img {
  top: -80px;
  left: calc(50% - 80px); /* app.center - img.width */
  width: 160px;
  position: absolute;
  border-color: #DCDCDC;
  border-style: solid;
  border-radius: 4px;
  font-size: 0.8em;
  margin: 3em 0 0 40%;
  padding: 1.5em;
  width: 15em;
  height: 19em;
}

section.app3 {
  position: absolute;
  border-color: #DCDCDC;
  border-style: solid;
  border-radius: 4px;
  font-size: 0.8em;
  margin: 3em 0 0 60%;
  padding: 1.5em;
  width: 15em;
  height: 19em;
}

article#use {
  background-color: #fff;
  min-height: 40em;
}

article#use>h2 {
  text-align: center;
  padding-top: 1em;
}
article#use>section.content{
  width: 70%;
  position: relative;
  margin: 0 auto;
}

article#use>section.content>section.useapp1 {
  position: absolute;
  text-align: center;
  padding: 5em 0 0 20%;
}

article#use section.useapp1>img {
  height: 9em;
  padding-bottom: 1.5em;
}

article#use section.useapp1>p {
  padding-top: 0.5em;
}

article#use>section.content>section.useapp2 {
  position: absolute;
  text-align: center;
  padding: 5em 0 0 40%;
}

article#use section.useapp2>img {
  height: 9em;
  padding-bottom: 1.5em;
}

article#use section.useapp2>p {
  padding-top: 0.5em;
}

article#use>section.content>section.useapp3 {
  position: absolute;
  text-align: center;
  padding: 5em 0 0 60%;
}

article#use section.useapp3>img {
  height: 9em;
  padding-bottom: 1.5em;
}

article#use section.useapp3>p {
  padding-top: 0.5em;
}

article#use>section.content>section.useapp4 {
  position: absolute;
  text-align: center;
  padding: 20em 0 0 28%;
}

article#use section.useapp4>img {
  height: 9em;
  padding-bottom: 1.5em;
}

article#use section.useapp4>p {
  padding-top: 0.5em;
}

article#use>section.content>section.useapp5 {
  position: absolute;
  text-align: center;
  padding: 20em 0 0 51%;
}

article#use section.useapp5>img {
  height: 9em;
  padding-bottom: 1.5em;

}

article#use section.useapp5>p {
  padding-top: 0.5em;
}

article#coach {
  background-color: #fff;
}

article#coach>section.content{
  width:70%;
  position: relative;
  margin: 0 auto;
  min-height: 33em;
}

article#coach header>h2 {
  text-align: center;
  padding-top: 2em;
}

article#coach>section.content>img{
  height: 25em;
  position: absolute;
  bottom: 0;
  left: 10em;
}

article#coach section#aboutcoach>h3 {
  padding-left: 30em;
  padding-top: 2em;
}

article#coach section#aboutcoach>p.exp {
  padding-left: 37em;
  padding-top: 1em;
}

article#coach section#bubbles>p.one {
  padding-top: 2em;
  padding-left: 50em;
}

article#coach section#bubbles>p.two {
  padding-top: 2em;
  padding-left: 54em;
}

article#coach section#bubbles>ul {
  list-style-type: none;
  padding-left: 55em;
  padding-top: 2em;
}

article#coach section#bubbles>ul>li {
  padding-left: 1em;
  float: left;
}

article#coach section#bubbles>ul>li>img {
  height: 2em;
}

article#join {
  background-color: #fff;
  min-height: 30em;
}

article#join section.content{
  position: relative;
  width: 70%;
  margin: 0 auto;
  min-height: 30em;
}

article#join header>h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: center;
  padding-top: 2em;
}

article#join section#info>h4 {
  padding-left: 15em;
  padding-top: 5em;
}

article#join section#info>p.date {
  padding-top: 1.5em;
  padding-left: 15em;
}

article#join section#info>p.place {
  padding-left: 16.7em;
  font-size: 0.9em;
}

article#join section#info>p.rec {
  padding-left: 16.7em;
  padding-top: 3em;
  font-size: 0.9em;
}

article#join section#info>p.price {
  font-size: 0.7em;
  padding-left: 21.5em;
  padding-top: 1.5em;
}

article#join>section.content>img {
  position: absolute;
  height: 20em;
  padding-left: 40em;
  top: 0;
  margin-top: 10em;
}

article#contact {
  position: relative;
  background-color: #6dcff6;
  color: white;
  min-height: 30em;
}

article#contact>form>fieldset {
  width: 30em;
  border-style: none;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 1em 0 2em 0;
}

article#contact>form>fieldset>legend {
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 1em;
}

input.first {
  border-style: none;
  height: 2em;
  width: 30em;
  margin-left: 12em;
  margin-top: 1em;
  padding-bottom: 1em;
}

input#text {
  height: 8em;
  width: 30em;
  margin-left: 12em;
  margin-top: 1em;
  border-style: none;
}
article#contact>img {
  margin-left: 75em;
  position: absolute;
  top: 0;
  margin-top: 9em;
}

article#empty {
  min-height: 25em;
  background-color: #0da2d6;
}
