* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 50%;
  background-color: rgb(255, 235, 205);
  font-family: sans-serif;
}

nav>ul {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 50%;
  top: 0;
}

nav>ul>li {
  display: block;
  padding: 14px 16px;
  float: left;
  margin-left: 50px;
}

nav>ul>li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

nav>ul>li a:hover {
  background-color: rgb(128, 128, 128);
}

article#start {
  background-color: rgb(30, 144, 255);
  top: 0;
}

article#start>header>h1 {
  color: white;
  margin-top: 40px;
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
}

article#start>header>h2 {
  margin-top: 1px;
  text-align: center;
  color: white;
}

article#start>header>img {
  margin: 1em 0 0 24.5em;
}

article#start>header>p {
  font-size: 1.2em;
  margin-top: 1px;
  text-align: center;
  color: white;
}

article#start>footer>p {
  font-size: 1.2em;
  margin-top: 1px;
  text-align: center;
  color: white;
}

article#start>footer>img {
  margin: 1em 0 0 26em;
}

article#benefits {
  background-color: rgb(0, 191, 255);
  top: 0;
  height: 28em;
}

article#benefits>header>h3 {
  text-shadow: 2px 2px grey;
  text-transform: uppercase;
  color: white;
  text-align: justify;
  font-size: 1.5em;
}

article#benefits>ul {
  margin: 5em 0 0 4em;
}

article#benefits>ul>li {
  color: white;
  text-align: justify;
  font-size: 1.2em;
  margin: 2em 0 0 0;
}

article#benefits>img {
  margin: 39em 0 10em 48em;
  position: absolute;
  top: 0;
}

article#about {
  background-color: white;
  top: 0;
  height: 28em;
}

article#about>header>h3 {
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: right;
}

article#about>ul {
  margin: 3em 0 0 30em;
}

article#about>ul>li {
  text-align: justify;
  margin: 1em 0 0 0;
  font-size: 0.9em;
}

article#about>footer>p {
  text-align: justify;
  margin: 3em 0 0 30em;
  font-size: 0.9em;
}

article#about>img {
  position: absolute;
  top: 60em;
  margin-left: 5em;
}

hr {
  height: 1px;
  background-color: rgb(220, 220, 220);
}

article#create {
  background-color: white;
  top: 0;
  height: 28em;
}

article#create>header>h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: center;
}

section.app1 {
  position: absolute;
  width: 14em;
  height: 10em;
  border-color: rgb(220, 220, 220);
  border-style: solid;
  border-radius: 4px;
  margin-left: 5em;
  margin-top: 10em;
  font-size: 0.9em;
  text-shadow: 0.5px 0.5px silver;
}

section.app2 {
  position: absolute;
  width: 14em;
  height: 10em;
  border-color: rgb(220, 220, 220);
  border-style: solid;
  border-radius: 4px;
  margin-left: 25em;
  margin-top: 10em;
  font-size: 0.9em;
  text-shadow: 0.5px 0.5px silver;
}

section.app3 {
  position: absolute;
  width: 14em;
  height: 10em;
  border-color: rgb(220, 220, 220);
  border-style: solid;
  border-radius: 4px;
  margin-left: 45em;
  margin-top: 10em;
  font-size: 0.9em;
  text-shadow: 0.5px 0.5px silver;
}






article#use{
  background-color: white;
  height: 28em;
}




article#coach{
  background-color: white;
  height: 28em;
}




article#join{
  background-color: white;
  height: 28em;

}





article#contact{
  background-color: rgb(0, 191, 255);
  height: 28em;
}



article#empty {
  height: 28em;
  background-color: rgb(30, 144, 255);
}
